<div id="learnvue1-1">
    {{ message }}
</div>

<div id="exapmle">
   
</div>

<div id="learnvue1-4">
    {{ msg }} 标签会被相应数据对象的 msg 属性的值替换。每当这个属性变化时它也会更新。
    <p> message: {{ msg }} </p>

    <br />
    <br />

    也可以只处理单次插值，今后的数据变化就不会再引起插值更新了：
    <p> message: {{* msg }} </p>
</div>


<div id="learnvue1-5">
    <p>双大括号标签将数据解析为纯文本而不是HTML。为了输出真的HTML字符串，需要用三大括号标签：</p>
    {{{ msg }}}
</div>


<div class="{{ class }}">
    <p>双大括号标签也可以用在 HTML 特性 (Attributes) 内</p>
    {{ msg }}
</div>


<div id="learnvue1-7">   
   <p>number: {{ number + 1 }}</p> 
   <p>ok: {{ ok ? 'YES' : 'NO' }}</p>
   <p>message: {{ message.split('').reverse().join('') }}</p>
</div>


<div id="learnvue1-8">
    <p>message-uppercase: {{ message | uppercase }}</p>
    <p>串联多个过滤器 lowercase capitalize: {{ message | lowercase | capitalize }}</p>
</div>


<div id="learnvue1-9">
    <p v-if="msgtrue"> Hello! true </p>
    <p v-if="msgfalse"> Hello! false</p>
</div>









<script src="~/Scripts/page/learnvue.js"></script>